<div class="top-row ps-3 navbar navbar-dark">
	<img src="images/Logo_V3.png" width="100px"/>
	<div class="container-fluid">
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-chat" aria-hidden="true"></span> ChatUri
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="apiconfig">
                <span class="oi oi-key" aria-hidden="true"></span> API Keys
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
