<!DOCTYPE html>
<html>
  <head>
    <title>SwissGPT</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>SwissGPT</h1>

    Nimm eine Frage auf und hör dir die Antwort an.

    <div id='btns'>
        <button id='start'>Start Recording</button>
    </div>

    <p>
    Question:<br>
    <textarea id="question" rows="6" cols="80">
    </textarea>
    <button id="ask" title="Diese Frage beantworten.">Ask</button>
    </p>
    <p>
    Answer:<br>
    <textarea id="answer" rows="6" cols="80">
    </textarea>
    <button id="tell" title="Diesen Text vorlesen.">Tell</button>
    </p>

    <p>
    <audio id="audio" controls src="">
    </audio>
    </p>

    <script src="./js/main.js"></script>
  </body>
</html>
